<div id="pins" class="transitions-enabled infinite-scroll clearfix">
  <% @pins.each do |pin| %>
  <div class="box ">
  	<div id="pin_show" class="pin_image">
		<%= link_to (image_tag pin.image.url), pin %>
	</div
	   <a href=""></a><h3><%= link_to pin.title, pin %></h3>
	   <div id="pins" class="user">
	   <p>Submitted by</p> <a href=""><%= pin.user.email %></a>
	   </div>
  </div>
  <% end %>
</div>
</div>

